.idea
.vscode
.git
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
node_modules
dist
target
logs/
src/frontend/node_modules
src/frontend/dist
src/frontend/node