* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-font-size: 16px;
}

@media screen and (min-width: 2500px) and (-webkit-min-device-pixel-ratio: 1.5) {
  :root {
    --base-font-size: 20px;
  }
}
@media screen and (min-width: 3800px) and (min-resolution: 150dpi) {
  :root {
    --base-font-size: 28px;
  }
}
@media screen and (min-width: 5000px) and (min-resolution: 190dpi) {
  :root {
    --base-font-size: 36px;
  }
}

/* 针对高 DPI 屏幕优化清晰度 */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400; /* 高分屏下字体显得细，可稍微加粗 */
  }
}

html {
  font-size: var(--base-font-size);
  transition: font-size 0.3s ease; /* 窗口缩放时平滑过渡 */
}

/*
  特殊处理：带鱼屏修正, 如果宽高比超过 21:9，说明是超宽屏，
  即便宽度很大，我们也强制将字号回调，防止文字过大导致纵向滚动太多
*/
@media screen and (min-aspect-ratio: 21/10) {
  html {
    font-size: 18px !important; /* 限制带鱼屏下的最大字号 */
  }
}

body {
  font-size: 0.875rem;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Microsoft YaHei', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.gap-4 {
  gap: 0.25rem;
}

.gap-6 {
  gap: 0.375rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-10 {
  gap: 0.625rem;
}

.gap-12 {
  gap: 0.75rem;
}

.gap-16 {
  gap: 1rem;
}
